body{
    width: 100%; 
    margin: 0 auto;
}

#homepage, #about-me{
    background-image: url(/assets/img/Banniere-shirleyB.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

header h1{
    visibility: hidden;
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    padding: 1em;
}

nav a{
    text-shadow: pink;
    color: gray;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 2px solid gray;
    padding-bottom: 1px;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

li{
    padding: 0em 2em;
}

footer{
    background-color:white;
    text-align: center;
    color:black;
    flex:1;
    font-weight: bold;
}

/* Title,subtitle*/
h1 {
    color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: white underline;
    
}

h2 {
    color:gray;
    font-weight: bold;
    text-align: center;
    text-decoration: white underline;
}

/*JAVASCRIPT Transiton page Effect*/
.transition-1{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:101;
    background-color: gray;
    opacity:0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active{
    opacity: 1;
    pointer-events:all;
}

.transition-2{
    position:fixed;
    top:0;
    left:-100%;
    width: 100%;
    bottom:0;
    z-index:101;
    background-color: gray;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-2.is-active{
    left:0px
}

.transition-3{
    position:fixed;
    top:100%;
    left:0;
    right: 0;
    height: 100%;
    z-index:101;
    background-color: gray;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-3.is-active{
    top:0;
}

.transition-4{
    position:fixed;
    top:0;
    right:-100%;
    width: 100%;
    bottom:0;
    z-index:101;
    background-color: gray;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-4.is-active{
    right:0px
}

/**IMAGE SLIDER STYLE*/

main{
    margin:0;
    padding:0;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #86807F;
}

.slider{
width: 800px;
height: 500px;
border-radius: 10px;
overflow :hidden;
}

.slides{
    width: 500%;
    height:500px;
    display: flex;
}

.slides input{
    display: none;

}

.slide{
    width: 20%;
    transition: 2s;
    cursor:pointer;
}

.slide img{
    width: 800px;
    height:500px;
}

/**CSS for manual slide navigation**/

.navigation-manual{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #86807F;
    padding : 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background: #86807F;
}

#radio1:checked ~ .first {
    margin-left : 0;
}

#radio2:checked ~ .first {
    margin-left : -20%;
}

#radio3:checked ~ .first {
    margin-left : -40%;
}

#radio4:checked ~ .first {
    margin-left : -60%;
}

/**CSS ofr automatic navigaton**/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top:460px;
}

.navigation-auto div{
    border:2px solid #86807F ;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #86807F;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #86807F;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #86807F;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #86807F;
}
